:root {
  --background-color: #222;
  --foreground-color: #eee;
  --app-padding: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
}

.app-padded-container {
  padding: var(--app-padding);
}

.logoText {
  margin: 0px 0px 10px 0px;

  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: var(--foreground-color);

  font-size: 40px;
  text-align: center;

  cursor: default;
  user-select: none;
}
