.subtitle {
  color: var(--foreground-color);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}

button.createButton {
  display: block;
  width: 100%;

  user-select: none;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  -webkit-tap-highlight-color: transparent;
  border-radius: 3px;

  margin: 15px 0px 0px 0px;
  padding: 7px 16px 7px 16px;
}

button.createButton:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.copyTextInput {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;

  top: -99999px;
  left: -99999px;
}
